$primary: #7B001E;
$secondary: #CC9865;
$border-radius: 0;
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-weight: 700;
$headings-color: #AE0036;

@import "bootstrap/scss/bootstrap";
