$primary: #faa825; //#069f1f; //#12da32;
$secondary: #9e0031;
$warning: #0077B5;
$light: #ffffff;
$info: #bbbbbb;
$border-radius: 0;
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-weight: 700;
$body-bg: #111314;
$body-color: $light;
$accordion-button-active-bg: #212529;
$accordion-button-active-color: white;
$accordion-border-color: white;
$tooltip-color: $light;
$table-color: $light;
// $headings-color: #006400;

// #7B001E unis
// #1a6c46 verde oscuro
// #069f1f verde medio
// #12da32 verde claro

@import "bootstrap/scss/bootstrap";

.profile-card {
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
    transition: box-shadow 0.1s linear;
}

.profile-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navText {
    color:white;
    font-size: 20px;
    font-weight: bold
}

.navText:hover {
    color: #faa825;
    text-decoration: underline;
}